body {
    margin: 0;
    padding: 0;
    background-color: rgb(22, 171, 251);
    display: flex;
    justify-content: center;
    
}

* {
    box-sizing: border-box;
}

.quiz-container {
    background-color: rgba(255, 255, 255, 0.875);
    justify-content: center;
    width: 600px;
    min-height: 350px;
    height: auto;
    margin-top: 100px;
    padding: 0px 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
    word-break: normal;
    
}

.quiz-container.hide {
    display: none;
}

.answer-container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 75px);
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}

.answer-container button {
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    word-wrap: break-word;
    word-break: normal;
}
.next-button {
    font-size: 20px;
    color: white;
    background-color: rgb(1, 82, 126);
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    align-items: center;
}

.next-button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.start-button {
    background-color: rgb(3, 81, 123);
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 150px;
    font-size: 150px;
    padding: 20px 50px;

}

.start-button.close {
    display: none;
}